* {
  padding: 0px;
  margin: 0px;
}

body {
  position: absolute;
  width: 100%;
  margin: 5px;
  padding: 1;
  user-select: none;
  background-color: whitesmoke;
}

.ratio {
  height: 100%;
  width: 100%;
}

h2 {
  position: realtive;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(to right, green, #00ff7f, red, #cf23cf, #eedd44);
  color: transparent;
  background-clip: text;
}

.bN {
  color: #c2b280;
}

langs, version, platform, agent, ram, storage, cores, touchs, pdf, vendor, ip {
  font-weight: bold;
  background: linear-gradient(to bottom, orange,#cd7f32, fuchsia);
  color: transparent;
  background-clip: text;
}