* {
  padding: 0px;
  margin: 0px;
}

body {
  position: absolute;
  width: 100%;
  margin: 1px;
  padding: 1px;
}

h2 {
  position: realtive;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(to right, green, #00ff7f, red, #cf23cf, #eedd44);
  color: transparent;
  background-clip: text;
}

.bN {
  color: #c2b280;
}

name, version, platform, agent, ip {
  font-weight: bold;
  background: linear-gradient(to bottom, orange,#cd7f32, fuchsia);
  color: transparent;
  background-clip: text;
}